.new-icon {
  fill: var(--p) !important;
  opacity: 85%;
  transition: ease-out 0.2s;
  width: 28px;
  height: 28px;
}

.new-icon:hover {
  fill: var(--p) !important;
  opacity: 100%;
  cursor: pointer;
}
