body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-bg);
}

#main {
  min-width: 700px;
  background-color: var(--bg);
  padding: 40px;
  border: none;
  border-radius: 10px;
  margin: 30px;
}
