:root {
  font-family: sans-serif;
  /* Action Colours */
  --destructive: #e43a4b;
  --destructive-hovered: #e64553;

  /* Text Colours */
  --h1: #4c4f69;
  --h2: #4c4f69;
  --h3: #4c4f69;
  --h4: #4c4f69;
  --h5: #4c4f69;
  --p: #4c4f69;

  /* Background Colours */
  --dark-bg: #dce0e8;
  --bg: #eff1f5;

  --accent: #8839EF;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--h1);
}
h2 {
  color: var(--h2);
}
h3 {
  color: var(--h3);
}
h4 {
  color: var(--h4);
}
h5 {
  color: var(--h5);
}
p {
  color: var(--p);
}
